@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(./resources/dark_souls_bg_gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    /* max-width: 1170px; */
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#start {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0 none;
    border-radius: 4px;
    position: absolute;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    color: #f1f1f1;
    background-color: #010101;
    font-family: 'Press Start 2P', cursive;
}

#start:hover {
    background-color: #fff;
    color: #000;
}

.content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
    margin-top: 20px;
}

.choices button {
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    border: 0 none;
    border-radius: 4px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.choices button:hover {
    border: 1px solid #000;
    color: #000;
    transform: scale(1.1);
}

#userOption {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffb703;
    margin-top: 20px;
}

#computerOption {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
    color: #fb8500;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#restart {
    margin-top: 40px;
    padding: 5px 10px;
    font-size: 1.1rem;
    cursor: pointer;
    border: 0 none;
    border-radius: 4px;
    background-color: none;
}

#restart img {
    width: 30px;
    height: 30px;
} 