@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(./resources/dark_souls_bg_gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
    margin-top: 20px;
}

.choices button {
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    border: 0 none;
    border-radius: 4px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.choices button:hover {
    border: 1px solid #000;
    color: #000;
    transform: scale(1.1);
}

.choices img {
    width: 100px;
    height: 80px;
}


#userOption {
    font-size: 1.2rem;
    font-weight: bold;
    color: #07e346;
    margin-top: 20px;
}

#computerOption {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
    color: #f1f2f4;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 80px;
    font-size: 1rem;
}

#restart {
    margin-top: 80px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 0 none;
    border-radius: 4px;
}

#restart img {
    width: 40px;
    height: 40px;
}